# Arquivos compilados
*.class

# Arquivos do Eclipse
.classpath
.project
.settings/

# Pasta de classes compiladas
bin/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Pacotes Java
*.jar
*.war

# Arquivos do sistema
.DS_Store
Thumbs.db